<div class="container">
  <div class="note">
    <div class="input-field col s6">
      <div class="note-content">
        <%= form_for @note do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :body %>
          <%= f.text_area :body %>

          <%= f.submit class: 'btn'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
