<div class="row">
  <h1 class="col s4 offset-s5">Notes</h1>
  <%= link_to 'New Note', new_note_path, {class: 'btn green col s6 offset-s3'}%>
</div>
<div class="container">
  <% @notes.each do |note| %>
    <div class="note">
      <div class="note-content">
        <h3><%= note.title %></h3>
        <p><%= note.body %></p>
        <%= link_to 'Show Note', note_path(note), {class: 'btn blue'} %>
        <%= link_to 'Edit Note', edit_note_path(note), {class: 'btn green'} %>
        <%= link_to 'Delete Note', note_path(note), {method: :delete, class: 'btn red'} %>
      </div>
    </div>
  <% end %>
</div>
